@use 'src/vars';

.weather-widget {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &__iconContainer {
        width: 100%;
        text-align: end;
    }

    &__infos {
        width: 50%;
    }

    &__city {
        font-weight: 700;
        margin: 0;
        color: vars.$green;
        text-transform: capitalize;
    }
    &__description {
        margin: 0;
        opacity: .6;
        font-size: .9em;
    }
    &__temperature {
        align-self: flex-start;
        font-weight: 700;
        width: 50%;
        text-align: center;
    }

}

// desktop
@media screen and (min-width: 1024px) {
    .weather-widget{
        min-width: 300px;
    }
}

