@use 'src/vars';

.form {
    &__input {
        border: solid 1.5px vars.$green;
        border-radius: 5px;
        padding: .5rem 1rem;
        &::placeholder {
            opacity: .6;
        }

        &:focus {
            outline: none;
            border: solid 1.5px vars.$blue;
            color: white;
            font-weight: 700;
            background-color: vars.$lightgreen;

            &::placeholder {
                opacity: 1;
            }
        }
    }
}